# Anaconda Python 설치

1. Anaconda Python 다운로드 설치
    * 환경변수 PATH 옵션 필히 체크
2. 시작 메뉴 -> Anaconda Prompt 검색/실행
3. Anaconda Prompt 내에서 `python --version` 수행

```
쉘> python --version
Python 3.7.3

쉘> pip --version
pip 19.0.3 from C:\Anaconda3\lib\site-packages\pip (python 3.7)

쉘> conda --version
conda 4.6.14

쉘> jupyter --version
4.4.0
```

In [17]:
import sys
sys.version

'3.7.2 (default, Dec 29 2018, 00:00:04) \n[Clang 4.0.1 (tags/RELEASE_401/final)]'

In [3]:
name = "이진석"
age = 20        # 실행 : Shift+Enter

print(name, age)

print("이름은 %s입니다. 나이는 %d입니다." % (name, age))  # python 2에서 주로 활용하던 방식
print("이름은 {}입니다. 나이는 {}입니다.".format(name, age))  # python 2.7 ~

# python 3.6~ : f-string
print(f"이름은 {name}입니다. 나이는 {age}입니다.")

이진석 20
이름은 이진석입니다. 나이는 20입니다.
이름은 이진석입니다. 나이는 20입니다.
이름은 이진석입니다. 나이는 20입니다.

# 6강. 실습 1

문제1) 세 과목 (국어, 수학, 영어) 성적을 input() 함수로 입력받아 세 과목의 총점과 평균을 구하는 프로그램을 작성하시오. 평균은 소수점 둘째자리까지 출력되도록 한다.

In [4]:
국어 = 100
영어 = 80
수학 = 95

In [6]:
총점 = 국어 + 영어 + 수학
평균 = 총점 / 3
총점, 평균

(275, 91.66666666666667)

In [10]:
print("총점 : %d, 평균 : %.2f" % (총점, 평균))
print(f"총점 : {총점}, 평균 : {평균:.2f}")

총점 : 275, 평균 : 91.67
총점 : 275, 평균 : 91.67

In [12]:
국어 = int(input("국어 성적 : "))
수학 = int(input("수학 성적 : "))
영어 = int(input("영어 성적 : "))

국어, 수학, 영어

국어 성적 : 100
수학 성적 : 80
영어 성적 : 95

(100, 80, 95)

In [20]:
line = input("국어 수학 영어 성적 : ")
# 국어, 수학, 영어 = line.split()  # white spaces를 구분자로 해서, 단어를 리스트화
# 국어 = int(국어)
# 수학 = int(수학)
# 영어 = int(영어)

try:
    국어, 수학, 영어 = map(int, line.split())
except ValueError:
    print("에러) 국어 수학 영어 순으로 성적을 입력해주세요.")

국어 수학 영어 성적 : 100 80 90 95
에러) 국어 수학 영어 순으로 성적을 입력해주세요.

In [16]:
총점 = 국어 + 수학 + 영어
평균 = 총점 / 3
print("총점 : %d, 평균 : %.2f" % (총점, 평균))
print(f"총점 : {총점}, 평균 : {평균:.2f}")

총점 : 275, 평균 : 91.67
총점 : 275, 평균 : 91.67

문제2) input() 함수를 이용하여 원의 반지름을 입력받는다. 입력받은 반지름으로 원의 넓이와 원의 둘레를 구하여 소수 셋째 자리까지 출
력하는 프로그램을 작성하시오.

In [12]:
import math

반지름 = int(input("반지름 : "))

원의_넓이 = math.pi * 반지름 ** 2
원의_둘레 = 2 * math.pi * 반지름

print(f"원의 넓이 : {원의_넓이:.3f}, 원의 둘레 : {원의_둘레:.3f}")

반지름 : 10
원의 넓이 : 314.159, 원의 둘레 : 62.832

문제3) 다섯 자리 양의 정수를 입력받아서, 다음과 같이 각 자리수를 떼어서 출력하는 프로그램을 작성하시오. 항상 올바르게 다섯 자리 숫자를 입력하고 1~9의 수만 입력한다고 가정한다.

In [21]:
숫자 = input("다섯 자리 숫자 : ")
숫자

다섯 자리 숫자 : 12345

'12345'

In [27]:
숫자[0], 숫자[1], 숫자[2], 숫자[3], 숫자[4]

('1', '2', '3', '4', '5')

In [30]:
' , '.join(숫자)

'1 , 2 , 3 , 4 , 5'

In [31]:
' , '.join(['1', '2', '3', '4', '5'])
' , '.join('12345')

'1 , 2 , 3 , 4 , 5'

# 기본 자료형

1. 수치 자료형 : int, float, complex
2. 부울 자료형 : bool (True/False)
3. 목록형 자료형 : str, list, tuple, set, dict 등
    1. str : 홑/쌍 1개/3개 언급

In [32]:
["a", "b", "c", "d", "e"]  # list
{"a", "b", "c", "d", "e"}  # set
("a", "b", "c", "d", "e")  # tuple
"a", "b", "c", "d", "e"  # tuple

('a', 'b', 'c', 'd', 'e')

In [34]:
[1]  # list
[1,] # list
(1)  # int
(1,) # tuple

(1,)

In [36]:
# 빈 리스트, 튜플, 집합, 사전
[], list()
(), tuple()
set()
{}, dict()

[]

In [37]:
{"a", "b"}  # set
{"a": 1, "b": 2}  # dict

{'a': 1, 'b': 2}

# index와 슬라이싱

In [38]:
알파벳 = "abcdefghijklmnopqrstuvwxyz"
알파벳

'abcdefghijklmnopqrstuvwxyz'

In [39]:
알파벳[0]

'a'

In [40]:
len(알파벳)

26

In [43]:
print(알파벳[len(알파벳)-1])  # 보통의 타언어
print(알파벳[-1])

z
z

In [44]:
알파벳[25], 알파벳[-1]

('z', 'z')

In [46]:
알파벳[30]

IndexError: string index out of range

In [55]:
# 알파벳[start:stop:step]  # start이상 stop미만, step
# start 생략 => 처음부터
# stop 생략 => 끝까지
# step 생략 => 1 혹은 -1

print(알파벳[1::3])
print(알파벳[2:-2])  # 처음 2글자 제외, 마지막 2글자 제외
print(알파벳[3:3+10])  # 3번 인덱스부터 10개 글자
print(알파벳[::-1])

behknqtwz
cdefghijklmnopqrstuvwx
defghijklm
zyxwvutsrqponmlkjihgfedcba

# 9강. 실습 2

문제1) A 학교에서는 주당 12시간 강의를 기본으로 하고 있다. 만약에 강의 시간이 12시간을 초과하면 초과한 시간에 대해 시간당 급여의 30%를 더 지급한다. 주당 총 근무 시간과 A학교의 시간당 급여를 입력받아 1주일 급여를 계산하는 프로그램을 작성하시오.

In [19]:
강의시간 = int(input("1주일 강의시간 : "))
시간당_급여 = int(input("시간당 급여 : "))

if 강의시간 > 12:
    초과시간 = 강의시간 - 12
    급여 = (12 + 초과시간 * 1.3) * 시간당_급여
else:
    급여 = 강의시간 * 시간당_급여

print(f"1주일 급여 : {급여}")

1주일 강의시간 : 20
시간당 급여 : 40000
1주일 급여 : 896000.0

문제2) 하나의 양의 정수를 입력받아서 그 수의 약수를 모두 출력하고, 약수의 개수도 출력하시오.

In [76]:
숫자 = 10
약수_리스트 = []

for i in range(1, 숫자//2+1):
    if 숫자 % i == 0:
        약수_리스트.append(i)

약수_리스트.append(숫자)
약수_개수 = len(약수_리스트)

print(f"약수_리스트 : {약수_리스트}, 개수 : {약수_개수}")

약수_리스트 : [1, 2, 5, 10], 개수 : 4

In [79]:
# number_list = []
# for i in range(1, 11):
#     number_list.append(i ** 2)
# number_list

# list comprehension
number_list = [i**2 for i in range(1, 11)]
number_list

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [84]:
print([i % 3 for i in range(1, 11)])     # list comprehension
print({i % 3 for i in range(1, 11)})     # set comprehension
print({i: i % 3 for i in range(1, 11)})  # dict comprehension
print((i % 3 for i in range(1, 11)))     # Generator (고급)

[1, 2, 0, 1, 2, 0, 1, 2, 0, 1]
{0, 1, 2}
{1: 1, 2: 2, 3: 0, 4: 1, 5: 2, 6: 0, 7: 1, 8: 2, 9: 0, 10: 1}
<generator object <genexpr> at 0x110754660>

In [87]:
숫자 = 10

약수_리스트 = [i
               for i in range(1, 숫자//2+1)
               if 숫자 % i == 0]
약수_리스트.append(숫자)

약수_리스트

[1, 2, 5, 10]

문제3) input 함수 한 번에 다섯 개의 정수를 입력받아서 그 정수들 중에서 가장 큰 값을 출력하시오.

In [96]:
line = "10 20 30 40 50"
max(map(int, line.split()))  # Generator

50

In [1]:
max(map(int, input('적으셈 ').split()))

적으셈 1 3 4 3 6

6

In [2]:
ggg = max(map(int, input('적으셈 ').split()))

적으셈 2 4 5 7 1

In [5]:
print(ggg)
type(ggg)

7

int

In [102]:
for i in range(1000000000000):
    break

# 13강. 실습 3

문제1) for 구문과 range() 함수를 이용하여 다음과 같이 출력되도록 하시오.

```
0 1 2 3 4 5 6 7 8 9 
0 5 10 15 20 25 30 35 40 45 50 
10 9 8 7 6 5 4 3 2 1
```

In [32]:
print(' '.join(map(str, range(10))))
print(' '.join(map(str, range(0, 51, 5))))
print(' '.join(map(str, range(10, 0, -1))))

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

문제2) score 리스트에 다섯 개의 성적 (정수)를 입력받아서, 다음과 같이 출력하시오. 성적을 입력받을 때에는 반드시 for 구문을 사용하고, 파이썬 내장 함수를 적절히 이용하시오.

In [36]:
score = []

for i in range(5):
    성적 = int(input("성적을 입력하시오 : "))
    score.append(성적)
    
최고 = max(score)
최저 = min(score)
평균 = sum(score) / len(score)
    
print(f"입력한 성적들 : {score}")
print(f"최고 성적 : {최고}")
print(f"최저 성적 : {최저}")
print(f"평균 : {평균:.2f}")

성적을 입력하시오 : 80
성적을 입력하시오 : 88
성적을 입력하시오 : 75
성적을 입력하시오 : 93
성적을 입력하시오 : 80
입력한 성적들 : [80, 88, 75, 93, 80]
최고 성적 : 93
최저 성적 : 75
평균 : 83.20

문제3) A고등학교 어떤 반 학생들 5명의 번호와 국어, 영어, 수학 성적이 다음과 같다. 5명 각자의 평균을 출력하시오. (사전과 리스트 이용할 것)

In [109]:
성적_리스트 = [
    {'국어': 80, '영어': 90, '수학': 86},
    {'국어': 78, '영어': 88, '수학': 85},
    {'국어': 85, '영어': 85, '수학': 92},
    {'국어': 70, '영어': 69, '수학': 65},
    {'국어': 90, '영어': 95, '수학': 100},
]

for idx, 성적 in enumerate(성적_리스트, 1):
    총점 = 성적['국어'] + 성적['영어'] + 성적['수학']
    평균 = 총점 / 3
    print(f"{idx}, 평균 : {평균:.2f}")

1, 평균 : 85.33
2, 평균 : 83.67
3, 평균 : 87.33
4, 평균 : 68.00
5, 평균 : 95.00

In [110]:
import pandas as pd

In [113]:
df = pd.DataFrame(성적_리스트)
df

   국어   수학  영어
0  80   86  90
1  78   85  88
2  85   92  85
3  70   65  69
4  90  100  95

In [118]:
df['총점'] = df['국어'] + df['수학'] + df['영어']
df['평균'] = df['총점'] // 3
df

   국어   수학  영어  평균   총점
0  80   86  90  85  256
1  78   85  88  83  251
2  85   92  85  87  262
3  70   65  69  68  204
4  90  100  95  95  285

In [119]:
df.to_excel("성적.xlsx")  # pip install xlwt

In [ ]:
# import xlwings as xw

# xw.view(df)

# 17강. 실습 4

문제1) 이전 실습에서 했던 문제이다. A 학교에서는 주당 12시간 강의를 기본으로 하고 있다. 만약에 강의 시간이 12시간을 초과하면 초과한 시간에 대해 시간당 급여의 30%를 더 지급한다. 주당 총 근무 시간과 A학교의 시간당 급여를 입력받아 1주일 급여를 계산하는 부분을 함수로 작성하고 main에서 함수를 호출하시오.

In [49]:
def 일주일_급여(강의시간, 시간당_급여):
    if 강의시간 > 12:
        초과시간 = 강의시간 - 12
        급여 = (12 + 초과시간 * 1.3) * 시간당_급여
    else:
        급여 = 강의시간 * 시간당_급여
    
    return 급여

def main():
    강의시간 = int(input("1주일 강의시간 : "))
    시간당_급여 = int(input("시간당 급여 : "))

    급여 = 일주일_급여(강의시간, 시간당_급여)
    print(f"급여 : {급여}")
    
if __name__ == "__main__":
    main()

1주일 강의시간 : 20
시간당 급여 : 50000
급여 : 1120000.0

문제2) 섭씨 온도를 화씨 온도로 바꾸는 프로그램을 작성하려고 한다. 섭씨 시작온도와 섭씨 끝 온도를 입력받아서 다음과 같이 출력되도록 프로그램을 작성하시오. 이때 섭씨 온도를 화씨 온도로 바꾸는 부분은 반드시 함수로 작성하도록 한다.

In [51]:
def 섭씨_to_화씨(섭씨):
    return 섭씨 * 9 / 5 + 32

시작온도 = int(input("시작 온도를 입력하시오 : "))
끝온도 = int(input("끝 온도를 입력하시오 : "))

for 섭씨 in range(시작온도, 끝온도+1):
    화씨 = 섭씨_to_화씨(섭씨)
    print(f"섭씨 {섭씨}도는 화씨 {화씨}도입니다.")

시작 온도를 입력하시오 : 10
끝 온도를 입력하시오 : 20
섭씨 10도는 화씨 50.0도입니다.
섭씨 11도는 화씨 51.8도입니다.
섭씨 12도는 화씨 53.6도입니다.
섭씨 13도는 화씨 55.4도입니다.
섭씨 14도는 화씨 57.2도입니다.
섭씨 15도는 화씨 59.0도입니다.
섭씨 16도는 화씨 60.8도입니다.
섭씨 17도는 화씨 62.6도입니다.
섭씨 18도는 화씨 64.4도입니다.
섭씨 19도는 화씨 66.2도입니다.
섭씨 20도는 화씨 68.0도입니다.

문제3) 컴퓨터는 1부터 100사이의 정수 하나를 임의로 선택한다. 사용자는 컴퓨터가 선택한 수를 맞춘다. 최종적으로 몇 번의 guess로 맞췄는 지와 컴퓨터가 선택한 숫자를 출력한다.

In [53]:
import random

number = random.randint(1, 100)

retry = 1
while True:
    guess = int(input(f"[{retry}] Guess :"))
    if guess == number:
        break
    elif guess < number:
        print("더 큰 수를 선택하세요.")
    else:
        print("더 작은 수를 선택하세요.")
    retry += 1

print(f"{retry}번의 시도 끝에 숫자{number}를 맞추셨습니다.")

20
[1] Guess :50
더 작은 수를 선택하세요.
[2] Guess :10
더 큰 수를 선택하세요.
[3] Guess :15
더 큰 수를 선택하세요.
[4] Guess :20
4번의 시도 끝에 숫자20를 맞추셨습니다.

# 멜론 데이터

In [19]:
import pandas as pd
df = pd.read_csv("https://goo.gl/iDUKrL")
song_list = list(df.reset_index().T.to_dict().values())
song_list

URLError: <urlopen error [Errno 11004] getaddrinfo failed>

In [132]:
song

{'index': 99,
 '곡일련번호': 30806540,
 '순위': 100,
 '앨범': 'Universe - 겨울 스페셜 앨범, 2017',
 '곡명': 'Stay',
 '가수': 'EXO',
 '커버이미지_주소': 'https://cdnimg.melon.co.kr/cm/album/images/101/22/917/10122917_500.jpg/melon/resize/120/quality/80/optimize',
 '좋아요': 81556}

In [141]:
for song in song_list:
    # if '가을' in song['곡명']:  # 문자열.contains("가을")
    if song['가수'] == '방탄소년단':
    # if song['좋아요'] > 200_000:
#         line = '{곡명} {가수} {좋아요}'.format(
#             곡명=song['곡명'],
#             가수=song['가수'],
#             좋아요=song['좋아요'])
        line = '{곡명} {가수} {좋아요}'.format(**song)  # unpacking
        print(line)

IDOL 방탄소년단 173279
I`m Fine 방탄소년단 132847
FAKE LOVE 방탄소년단 253847
Euphoria 방탄소년단 129017
Answer : Love Myself 방탄소년단 108151
전하지 못한 진심 (Feat. Steve Aoki) 방탄소년단 176653
Epiphany 방탄소년단 101011
Trivia 轉 : Seesaw 방탄소년단 98436
Trivia 起 : Just Dance 방탄소년단 88970
Trivia 承 : Love 방탄소년단 83610
Anpanman 방탄소년단 138694
봄날 방탄소년단 359130
DNA 방탄소년단 323911
Airplane pt.2 방탄소년단 127355

가수는 총 몇 팀일까요?

In [140]:
len({song['가수'] for song in song_list})

57

가수별 곡수는?

In [144]:
# Hint

print(80 in {100, 80})
print(80 in {'국어': 100, '영어': 80})
print('국어' in {'국어': 100, '영어': 80})

True
False
True

In [147]:
# Level 1

가수별_곡수 = {}

for song in song_list:
    가수 = song['가수']
    if 가수 not in 가수별_곡수:
        가수별_곡수[가수] = 0
    가수별_곡수[가수] += 1
    
가수별_곡수

{'아이유': 2,
 '로꼬': 2,
 'pH-1': 1,
 '임창정': 1,
 '방탄소년단': 14,
 'iKON': 3,
 'Coogie': 1,
 '로이킴': 2,
 '바이브': 2,
 '펀치 (Punch)': 1,
 '폴킴': 2,
 '백현 (BAEKHYUN)': 1,
 '선미': 1,
 '벤': 1,
 '숀 (SHAUN)': 1,
 'EXO': 3,
 '찬열': 1,
 '기리보이': 1,
 'EXO-CBX (첸백시)': 1,
 '저스디스 (JUSTHIS)': 1,
 '레이 (LAY)': 1,
 'BLACKPINK': 2,
 '닐로 (Nilo)': 2,
 'TWICE (트와이스)': 2,
 '박원': 1,
 'Wanna One (워너원)': 5,
 'Red Velvet (레드벨벳)': 1,
 '임한별': 1,
 '볼빨간사춘기': 1,
 'Wanna One (워너원) - 트리플포지션': 1,
 '마마무(Mamamoo)': 2,
 '양다일': 1,
 '먼데이 키즈 (Monday Kiz)': 1,
 '비투비': 2,
 '멜로망스': 4,
 '승리': 1,
 'Apink (에이핑크)': 1,
 '지코 (ZICO)': 1,
 '세븐틴': 2,
 '장덕철': 1,
 'Wanna One (워너원) - 더힐': 1,
 '10cm': 2,
 'nafla': 1,
 '(여자)아이들': 1,
 '뉴이스트 W': 8,
 '김효은': 1,
 '모트 (Motte)': 1,
 '이수 (엠씨 더 맥스)': 1,
 'Wanna One (워너원) - 린온미': 1,
 '용준형': 1,
 'Wanna One (워너원) - 남바완': 1,
 'NU`EST': 1,
 '정승환': 1,
 'Fitz & The Tantrums': 1,
 '여자친구 (GFRIEND)': 1,
 '청하': 1,
 '소녀시대-Oh!GG': 1}

In [21]:
# Level 2
from collections import defaultdict

가수별_곡수 = defaultdict(int)
# 가수별_노래 = defaultdict(list)

for song in song_list:
    가수 = song['가수']
    가수별_곡수[가수] += 1
#     가수별_노래[가수].append(song['곡명'])
    
가수별_곡수
# 가수별_노래

NameError: name 'song_list' is not defined

In [22]:
dir(collections)

NameError: name 'collections' is not defined

In [164]:
# Level 3
from collections import Counter

Counter([song['가수'] for song in song_list])

Counter({'아이유': 2,
         '로꼬': 2,
         'pH-1': 1,
         '임창정': 1,
         '방탄소년단': 14,
         'iKON': 3,
         'Coogie': 1,
         '로이킴': 2,
         '바이브': 2,
         '펀치 (Punch)': 1,
         '폴킴': 2,
         '백현 (BAEKHYUN)': 1,
         '선미': 1,
         '벤': 1,
         '숀 (SHAUN)': 1,
         'EXO': 3,
         '찬열': 1,
         '기리보이': 1,
         'EXO-CBX (첸백시)': 1,
         '저스디스 (JUSTHIS)': 1,
         '레이 (LAY)': 1,
         'BLACKPINK': 2,
         '닐로 (Nilo)': 2,
         'TWICE (트와이스)': 2,
         '박원': 1,
         'Wanna One (워너원)': 5,
         'Red Velvet (레드벨벳)': 1,
         '임한별': 1,
         '볼빨간사춘기': 1,
         'Wanna One (워너원) - 트리플포지션': 1,
         '마마무(Mamamoo)': 2,
         '양다일': 1,
         '먼데이 키즈 (Monday Kiz)': 1,
         '비투비': 2,
         '멜로망스': 4,
         '승리': 1,
         'Apink (에이핑크)': 1,
         '지코 (ZICO)': 1,
         '세븐틴': 2,
         '장덕철': 1,
         'Wanna One (워너원) - 더힐': 1,
         '10cm': 2,
         'nafla': 1,
         '(여자)아이들': 1,
         '뉴이스트 W': 8,
         '김효은': 1,
         '모트 (Motte)': 1,
         '이수 (엠씨 더 맥스)': 1,
         'Wanna One (워너원) - 린온미': 1,
         '용준형': 1,
         'Wanna One (워너원) - 남바완': 1,
         'NU`EST': 1,
         '정승환': 1,
         'Fitz & The Tantrums': 1,
         '여자친구 (GFRIEND)': 1,
         '청하': 1,
         '소녀시대-Oh!GG': 1})

# 파일 I/O

In [165]:
name = "10"
print(name)

10

In [169]:
# utf8, cp949(euckr 확장)
f = open("test.csv", "wt", encoding='utf8')   # write + text
try:
    f.write("이름,국어,영어,수학\n")
    f.write("철수,100,90,80\n")
    f.write("영희,90,80,100\n")
finally:
    f.close()

In [173]:
f = open("test_cp949.csv", "wt", encoding='cp949')   # write + text
f.write("이름,국어,영어,수학\n")
f.write("철수,100,90,80\n")
f.write("영희,90,80,100\n")
f.close()

In [174]:
with open("test.csv", "wt", encoding='utf8') as f:
    f.write("이름,국어,영어,수학\n")
    f.write("철수,100,90,80\n")
    f.write("영희,90,80,100\n")

In [176]:
pd.read_csv("test_cp949.csv", encoding='cp949')

   이름   국어  영어   수학
0  철수  100  90   80
1  영희   90  80  100